<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Application</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    <small>Test index.html</small>

    <!-- Angular App -->
    <div ng-app="app">

        <!-- Router View -->
        <div ui-view></div>

        <!-- A test controller -->
        <div ng-controller="testctrl as test">

            <a ng-click="test.click(true)" href="#">True</a>
            <a ng-click="test.click(false)" href="#">False</a>

            {{test.clicked}}

        </div>

    </div>

    <script type="text/javascript" src="bundle.js"></script>

</body>
</html>
