/* ==========================================================================
   Header Styles
   ========================================================================== */
.header {
    width: calc(100% - 80px);
    height: 80px;
    margin: 60px 0;
    background: transparent;
    border: 1px solid #fff;
    margin: 32px auto;
    border-radius: 6px;
}
