/* ==========================================================================
   Cards Page Styles
   ========================================================================== */
.card-container {
    float: left;
    width: 100%;
    text-align: center;
}

.character-card {
    //margin-top: 32px;
}
